In [1]:
import numpy as np
import pandas as pd

In [33]:
# import the data
df_time = pd.read_pickle('../data/clean_pass_01.pkl')

In [35]:
df_time.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies,has_made_pymnt,not_policy,target
0,5000.0,5000.0,4975.0,36 months,0.1065,162.87,B,B2,10.0,RENT,...,863.16,0.00,0.00,0.00,171.62,Jun-2016,0,1,False,1
1,2500.0,2500.0,2500.0,60 months,0.1527,59.83,C,C4,0.5,RENT,...,435.17,0.00,117.08,1.11,119.66,Sep-2013,0,1,False,0
2,2400.0,2400.0,2400.0,36 months,0.1596,84.33,C,C5,10.0,RENT,...,605.67,0.00,0.00,0.00,649.91,Jun-2016,0,1,False,1
3,10000.0,10000.0,10000.0,36 months,0.1349,339.31,C,C1,10.0,RENT,...,2214.92,16.97,0.00,0.00,357.48,Apr-2016,0,1,False,1
5,5000.0,5000.0,5000.0,36 months,0.0790,156.46,A,A4,3.0,RENT,...,632.21,0.00,0.00,0.00,161.03,Jan-2016,0,1,False,1

In [36]:
# defining a function for converting month to a number and the feature into datetime
def time_converter(elem):
    month_to_num = {'Jan':'01', 'Feb':'02', 'Mar':'03', 'Apr':'04', 'May':'05', 'Jun':'06',
                    'Jul':'07', 'Aug':'08', 'Sep':'09', 'Oct':'10', 'Nov':'11', 'Dec':'12'}
    temp_elem = elem.split('-')
    val = '-'.join([month_to_num[temp_elem[0]],temp_elem[1]])
    date = pd.to_datetime(val)
    return date

In [37]:
# defining the columns which needs to be confirmed
# 
date_column = ['last_credit_pull_d','earliest_cr_line']
for i in date_column:
    df_time[i] = df_time[i].apply(lambda x: time_converter(x))
df_time.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 41340 entries, 0 to 42474
Data columns (total 39 columns):
loan_amnt                  41340 non-null float64
funded_amnt                41340 non-null float64
funded_amnt_inv            41340 non-null float64
term                       41340 non-null object
int_rate                   41340 non-null float64
installment                41340 non-null float64
grade                      41340 non-null object
sub_grade                  41340 non-null object
emp_length                 41340 non-null float64
home_ownership             41340 non-null object
annual_inc                 41340 non-null float64
loan_status                41340 non-null object
purpose                    41340 non-null object
zip_code                   41340 non-null object
addr_state                 41340 non-null object
dti                        41340 non-null float64
delinq_2yrs                41340 non-null float64
earliest_cr_line           41340 non-null datetime64[ns]
inq_last_6mths             41340 non-null float64
open_acc                   41340 non-null float64
pub_rec                    41340 non-null float64
revol_bal                  41340 non-null float64
revol_util                 41340 non-null float64
total_acc                  41340 non-null float64
out_prncp                  41340 non-null float64
out_prncp_inv              41340 non-null float64
total_pymnt                41340 non-null float64
total_pymnt_inv            41340 non-null float64
total_rec_prncp            41340 non-null float64
total_rec_int              41340 non-null float64
total_rec_late_fee         41340 non-null float64
recoveries                 41340 non-null float64
collection_recovery_fee    41340 non-null float64
last_pymnt_amnt            41340 non-null float64
last_credit_pull_d         41340 non-null datetime64[ns]
pub_rec_bankruptcies       41340 non-null int64
has_made_pymnt             41340 non-null int64
not_policy                 41340 non-null bool
target                     41340 non-null int64
dtypes: bool(1), datetime64[ns](2), float64(25), int64(3), object(8)
memory usage: 12.3+ MB

In [38]:
df_time.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_length,home_ownership,...,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,last_credit_pull_d,pub_rec_bankruptcies,has_made_pymnt,not_policy,target
0,5000.0,5000.0,4975.0,36 months,0.1065,162.87,B,B2,10.0,RENT,...,863.16,0.00,0.00,0.00,171.62,2016-06-01,0,1,False,1
1,2500.0,2500.0,2500.0,60 months,0.1527,59.83,C,C4,0.5,RENT,...,435.17,0.00,117.08,1.11,119.66,2013-09-01,0,1,False,0
2,2400.0,2400.0,2400.0,36 months,0.1596,84.33,C,C5,10.0,RENT,...,605.67,0.00,0.00,0.00,649.91,2016-06-01,0,1,False,1
3,10000.0,10000.0,10000.0,36 months,0.1349,339.31,C,C1,10.0,RENT,...,2214.92,16.97,0.00,0.00,357.48,2016-04-01,0,1,False,1
5,5000.0,5000.0,5000.0,36 months,0.0790,156.46,A,A4,3.0,RENT,...,632.21,0.00,0.00,0.00,161.03,2016-01-01,0,1,False,1

In [41]:
df_time.to_pickle('../data/clean_date_01.pkl')